# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
*~
nb*.xml
.~lock*
*.dot
/nbproject/irp.xml
irp.ire.xml
irp.xml
nbproject
JavaTestProtocol
all-protocols.xml
lirc.xml
lirc.xml.old
files.gnumeric
graveyard
src/test/decoderfiles-
gh-pages
2sort
attic
